@import variables
.ums-app-dialog-screen
  position: absolute
  background: rgba(0, 0, 0, 0.4)
  width: 100%
  height: 100%
  top: 0
  left: 0
  z-index: 10
  display: none
  &.pop
    display: block
.ums-dialog-content
  background: white
  position: absolute
  left: 50%
  top: 50%
  padding: 20px
  +shadowGenerator(0px 0px 5px 0px rgba(0,0,0,0.49))

  h3
    font-size: $titles_font_size
    color: $main_blue
    line-height: 25px
    border-bottom: solid 1px $main_blue
    +noUserSelect()

  .ums-dialog-btn-cont
    display: inline-block
    width: calc(100% - 40px)
    position: absolute
    bottom: 20px
    text-align: right

  &.ums-type-create-group
    width: 250px
    height: 200px
    margin: -120px 0 0 -145px

  &.ums-type-delete-groups
    width: 250px
    height: 200px
    margin: -120px 0 0 -145px

  &.ums-type-create-users
    width: 400px
    height: 250px
    margin: -145px 0 0 -220px

.ums-dialog-body
  display: inline-block
  height: 100%
  width: 100%

.ums-create-group-form
  margin: 20px 0 0 0

.ums-gtd-list
  display: inline-block
  width: 100%
  height: calc(100% - 65px)
  .ums-cb-label
    background-size: 18px
    background-position: left
    display: inline-block
    line-height: 26px
    cursor: pointer
    padding: 0 0 0 25px
    width: calc(100% - 25px)
    border-bottom: solid 1px $separator_color
    +transition(background, 300ms)
    +noUserSelect()
  input[type=checkbox]:checked + .ums-cb-label
    background-position: left
    background-size: 18px

.ums-no-groups-notice
  position: absolute
  top: 50%
  text-align: center
  width: calc(100% - 40px)
  font-size: $titles_font_size
  color: $disabled_text
  +noUserSelect()


.ums-form-fs
  border: none
  margin: 10px 0 0 0
  padding: 0
  position: relative
  input[type=text], input[type=email], input[type=tel]
    display: inline-block
    width: calc(50% - 30px)
    float: left
    &:last-child
      float: right



.ums-dropdown-holder
  display: inline-block
  width: calc(50% - 5px)
  vertical-align: top
  position: relative
  &:last-child
    padding: 0 0 0 6px
  select
    left: 0
    height: 27px
    width: 100%
    bottom: 0
    &.ums-stick-right
      right: 0
      left: auto


  .ums-groups-display
    width: calc(100% - 45px)
    &.ums-stick-right
      float: right

.ums-user-picker-ttl
  display: inline-block
  line-height: 20px
  width: 100%
  font-size: $main_font_size
  +noUserSelect()
  &:last-child
    padding: 0 0 0 15px


input[type=url]
  margin-top: 10px



@media all and (max-width: 501px)
  .ums-dialog-content
    .ums-dialog-btn-cont button
      width: calc(50% - 2px)
      height: 35px
      font-size: 1rem

    &.ums-type-create-users
      left: 0
      top: 0
      width: calc(100% - 40px)
      height: calc(100% - 40px)
      margin: 0
      .ums-form-fs
        margin: 0
        input[type=text], input[type=email], input[type=tel]
          width: calc(100% - 20px)
          margin: 20px 0 0 0
          height: 40px
          font-size: $titles_font_size
          &:last-child
            float: left

      input[type=url]
        font-size: $titles_font_size
        height: 40px
        width: calc(100% - 20px)
        margin: 20px 0 0 0

      .ums-user-picker-ttl
        font-size: $titles_font_size

      .ums-groups-display
        width: calc(100% - 40px)
        height: 40px
        line-height: 40px
        font-size: $titles_font_size
        &.ums-stick-right
          float: left

      .ums-dropdown-holder
        width: 100%
        margin: 20px 0 0 0
        &:last-child
          padding: 0

      select
        height: 40px
        width: 100%
        bottom: 0

