@import variables
@import icons
@import app_dialogs

//------ default styling settings --------//
h1, h2, h3, h4, h5
  margin: 0
  font-weight: 100
  +ellipsis()

html, body, .ums-ng-view
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  font-family: Arial
  font-size: $main_font_size
  font-weight: 100

a, button
  cursor: pointer
  text-decoration: none
  color: $main_font_color
  outline: none
ul
  list-style: none
  margin: 0
  padding: 0

input
  outline: none

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder
  color: transparent
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder
  color: transparent
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder
  color: transparent
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder
  color: transparent

select
  cursor: pointer
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none

input[type=text]
  height: 25px
  border: solid 1px $separator_color
  width: calc(100% - 22px)
  padding: 0 10px

.ums-action-button-blue
  padding: 5px 20px
  color: $main_blue
  border: solid 1px $main_blue
  background: white
  +transition(all, 200ms)

  &:hover
    color: white
    background: $main_blue_hover
    border: solid 1px $main_blue_hover

  &:active
    color: white
    background: $main_blue_pressed
    border: solid 1px $main_blue_pressed

.ums-action-button-green
  padding: 5px 20px
  color: white
  border: solid 1px $main_green
  background: $main_green
  +transition(background, 200ms)

  &:hover
    border: solid 1px $main_green_hover
    background: $main_green_hover
  &:active
    border: solid 1px $main_green_pressed
    background: $main_green_pressed

  &:disabled
    border: solid 1px $disabled_button
    background: $disabled_button
    color: $disabled_text
//---- & default styling settings & ------//

body
  background: url("../images/bgr.png")

.ums-top-bar, .ums-users-list-block
  background: rgba(255, 255, 255, 0.3)

.ums-top-bar
  display: inline-flex
  align-items: center
  height: 50px
  border-bottom: solid 1px white
  width: calc(100% - 20px)
  padding: 0 10px

.ums-groups-display
  display: inline-block
  height: 25px
  line-height: 25px
  padding: 0 30px 0 10px
  width: 120px
  border: solid 1px $separator_color

.ums-groups-picker
  position: absolute
  height: 25px
  width: 160px
  opacity: 0

.ums-create-group
  @extend .ums-groups

.ums-users-list-block
  border-right: solid 1px white
  width: 50%
  height: calc(100% - 51px)
  float: left
  ul
    overflow: hidden
    height: calc(100% - 41px)

  li
    height: 80px
    width: calc(100% - 30px)
    background: white
    padding: 5px
    margin: 10px
    overflow: hidden
    cursor: pointer
    +shadowGenerator(0px 0px 5px 0px rgba(0,0,0,0.3))

    img
      height: 68px
      width: 68px
      border-radius: 50%
      border: solid 1px $separator_color
      overflow: hidden

.ums-avatar-block, .ums-user-details-block, .ums-user-group-block
  float: left
.ums-avatar-block
  display: inline-flex
  height: 100%
  align-items: center


.ums-user-details-block
  height: 100%
  display: inline-block
  width: calc(100% - 270px)
  padding: 0 0 0 6px
  vertical-align: top
  h4
    line-height: 25px
    font-size: $titles_font_size
    color: $main_blue
  .ums-detail
    display: block
    line-height: 18px
    +ellipsis()

.ums-user-group-block
  width: 183px
  height: 100%
  vertical-align: top
  display: inline-block
  padding: 0 0 0 10px
  border-left: solid 1px $separator_color
.ums-group-name
  line-height: 30px
  color: $main_green_pressed

.ums-user-group-picker
  position: relative
  width: calc(100% - 10px)
  display: inline-block
  .ums-groups-display
    width: calc(100% - 40px)
  .ums-groups-picker
    width: 100%
    top: 0
    height: 28px




.ums-users-top-bar
  height: 40px
  width: calc(100% - 20px)
  border-bottom: solid 1px white
  display: flex
  align-items: center
  padding: 0 10px

  input[type=text]
    width: 140px

.ums-create-user
  @extend .ums-user


.ums-create-group, .ums-create-user
  width: 30px
  height: 30px
  display: inline-block
  cursor: pointer
  +transition(background, 200ms)
  background-size: contain
  margin: 0 0 0 10px
  &:hover
    background-size: contain


@media all and (max-width: 801px)







