<div class="ums-dialog-body">
  <h3>{{::appStrings[lang].cr_user}}</h3>
  <form>
    <fieldset class="ums-form-fs">
      <input type="text" ng-model="user.first_name" placeholder="{{::appStrings[lang].f_n}}"/>
      <input type="text" ng-model="user.last_name" placeholder="{{::appStrings[lang].l_n}}"/>
    </fieldset>
    <fieldset class="ums-form-fs">
      <input type="email" ng-model="user.email" placeholder="{{::appStrings[lang].e_m}}"/>
      <input type="tel" ng-model="user.phone_number" placeholder="{{::appStrings[lang].f_n}}"/>
    </fieldset>
    <input type="url" ng-model="user.photo" placeholder="{{::appStrings[lang].u_p}}" />
    <fieldset class="ums-form-fs">

      <div class="ums-dropdown-holder">
        <h5 class="ums-user-picker-ttl">{{::appStrings[lang].p_g}}</h5>
        <div class="ums-groups-display ums-arrow-d">{{newUserGroup}}</div>
        <select class="ums-groups-picker" ng-model="newUserGroup" change-group>
          <option ng-repeat="group in groups" ng-hide="$index === 0">{{::group}}</option>
        </select>
      </div>

      <div class="ums-dropdown-holder">
        <h5 class="ums-user-picker-ttl">{{::appStrings[lang].p_c}}</h5>
        <div class="ums-groups-display ums-arrow-d ums-stick-right"></div>
        <select class="ums-groups-picker ums-stick-right" ng-model="" change-group>
          <option>{{::group}}</option>
        </select>
      </div>
    </fieldset>
  </form>
  <div class="ums-dialog-btn-cont">
    <button class="ums-action-button-blue" ng-click="closeDialog()">{{::appStrings[lang].close}}</button>
    <button class="ums-action-button-green" type="submit" ng-click="deleteGroups()" ng-disabled="createNewgroupForm.$invalid">{{::appStrings[lang].delete}}</button>
  </div>
</div>
